.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f7f9;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #2a2e35;
}

.info {
  font-size: 1rem;
  color: #71757a;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.formSection {
  background-color: #eaf4fc;
  padding: 20px;
  border: 2px solid #d1dae2;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 1rem;
  color: #3a3e44;
  margin-bottom: 8px;
}

.input,
.textarea,
.select {
  width: calc(100% - 24px); /* Reduces width slightly for balanced padding */
  padding: 12px;
  margin: 0 auto; /* Centers input to keep margins balanced */
  font-size: 1rem;
  border: 1px solid #d1dae2;
  border-radius: 6px;
  background-color: #fafcfd;
  box-sizing: border-box; /* Ensures padding doesn't increase input size */
}

.textarea {
  height: 100px;
}

.questionContainer {
  background-color: #fdf3e7;
  padding: 20px;
  border: 1px solid #e3d7ca;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #4a4e52;
}

.addButton {
  background-color: #007bff !important;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.addButton:hover {
  background-color: #0056b3 !important;
}

.submitContainer {
  text-align: center;
  margin-top: 5px;
}

.submitButton {
  background-color: #28a745;
  width: 100%;
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #218838;
}
.removeButton {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  float: right;
}

.removeButton:hover {
  background-color: #c82333;
}
