.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between; /* Space between title and button */
  align-items: center; /* Center vertically */
  margin-bottom: 20px; /* Space below header */
}

h1 {
  color: #333;
  font-size: 2rem;
  text-align: left; /* Align with button */
}

p {
  line-height: 1.5;
  margin: 10px 0;
}

.loading {
  color: #007bff;
  font-weight: bold;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

/* Styles specific to MCQ answers */
.questionBlock {
  margin-bottom: 20px;
}

.question {
  text-align: left;
  color: black;
  font-weight: bold;
}

.choicesList {
  list-style-type: square;
  padding-left: 20px;
}

.choicesList li {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.correctChoice {
  background-color: #d4edda; /* Green background for correct choices */
  border-left: 5px solid #28a745; /* Left border to indicate correctness */
}

.incorrectChoice {
  background-color: #f8d7da; /* Red background for incorrect choices */
  border-left: 5px solid #dc3545; /* Left border to indicate incorrectness */
}

.correctAnswer {
  font-weight: bold;
  color: #28a745; /* Green color for correct answer */
  margin-top: 5px;
}

.downloadButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.downloadButton:hover {
  background-color: #0056b3;
}

.title {
  text-align: left;
  color: black !important;
}

.description {
  text-align: left;
  color: black !important;
}
